@charset "UTF-8";
/*отступы*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

/*перещет области*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*отключение обводки*/
:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

/*делаем блочными некоторые теги*/
nav, footer, header, aside {
  display: block;
}

/*Уравниваем поведение шрифтов и тд для разных браузеров (также запрещает самовольное увеличени шрифтов (айфон))*/
html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*Говоорим тегам наследовать семейство шрифта*/
input, button, textarea {
  font-family: inherit;
  display: block;
}

/*еще куча фич, таких как отклчение крестиков и отступов в разных браузерах*/
input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*Обнуляем все заголовки*/
h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background: linear-gradient(50deg, rgb(214, 230, 242) 0%, rgb(185, 215, 234) 20%, rgb(214, 230, 242) 40%, rgb(185, 215, 234) 60%, rgb(214, 230, 242) 80%, rgb(185, 215, 234) 100%);
  color: #2A363B;
}
body.lock {
  overflow: hidden;
}

.persona-info-area {
  margin-bottom: 3vh;
}

.content-container {
  transition: 0.3s;
  transition-property: max-width;
  max-width: none;
  padding: 3vh 1vh;
  margin: auto;
}
@media (min-width: 751px) {
  .content-container {
    max-width: 750px;
  }
}
@media (min-width: 751px) {
  .content-container {
    max-width: 750px;
  }
}
@media (min-width: 993px) and (min-height: 630px) {
  .content-container {
    max-width: 992px;
    display: flex;
  }
  .content-container .persona-info-area {
    margin: 0;
    flex: 0 1 30%;
    position: relative;
  }
  .content-container .works-area {
    flex: 0 1 70%;
    margin-left: 3vh;
  }
}
@media (min-width: 1201px) {
  .content-container {
    max-width: 1200px;
  }
}

.item {
  background-color: #F7FBFC;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 0px #769FCD;
  overflow: hidden;
}

.button {
  text-align: center;
  color: #2A363B;
  background-color: #F7FBFC;
  border: 1px solid #2A363B;
  border-radius: 5px;
}

.persona-card {
  position: -webkit-sticky;
  position: sticky;
  top: 3vh;
  min-height: 600px;
  height: 94vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 10px;
}
.persona-card__photo {
  height: 40%;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 0px #769FCD;
  margin-bottom: 10px;
}
.persona-card__fio {
  font-size: 18px;
  letter-spacing: 1px;
  text-align: center;
  line-height: 22px;
  margin-bottom: 20px;
}
.persona-card__title {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  line-height: 20px;
}
.persona-card .block-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5px -5px 10px -5px;
}
.persona-card__education {
  cursor: pointer;
}
.persona-card__social {
  margin: 10px;
}
.persona-card .open-space {
  flex: 1 1 auto;
}

.card-item {
  padding: 5px;
  border: 1px solid #D6E6F2;
  border-radius: 5px;
  letter-spacing: 1px;
  margin: 5px 10px;
}

.title {
  font-size: 20px;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 3vh;
}

.works {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3vh;
}
.works .work {
  height: 200px;
}
.works .work__title {
  font-size: 15px;
  text-align: center;
  padding: 5px;
}
.works .work img {
  padding: 0 5px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 150px;
  cursor: pointer;
}
.works .work img.pointer-off {
  cursor: auto;
}
.works .work__links {
  display: flex;
  height: 25px;
  justify-content: space-around;
  align-items: center;
}
.works .work__button {
  transition: 0.3s;
  text-align: center;
  color: #2A363B;
  width: 100px;
  padding: 5px;
}
.works .work__button:hover {
  color: #4ECCA3;
}

.show-more {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
.show-more .button-close {
  position: absolute;
  height: 60px;
  width: 60px;
  top: 5vh;
  right: 5vh;
  cursor: pointer;
}
.show-more .button-close::after, .show-more .button-close::before {
  content: "";
  transition: 0.3s;
  transition-property: background-color;
  height: 4px;
  width: 40px;
  position: absolute;
  background-color: #D6E6F2;
  top: 28px;
  right: 10px;
}
.show-more .button-close::after {
  transform: rotate(45deg);
}
.show-more .button-close::before {
  transform: rotate(-45deg);
}
.show-more .button-close:hover::before, .show-more .button-close:hover::after {
  background-color: #4ECCA3;
}
.show-more__content {
  display: flex;
  align-items: center;
  background-color: #769FCD;
  width: 100%;
  height: 100vh;
  position: absolute;
}
.show-more.active-panel {
  -webkit-animation: open-panel-image 0.5s;
          animation: open-panel-image 0.5s;
  top: 0;
}
.show-more.active-panel .show-image__content {
  bottom: 0;
}
.show-more.no-active-panel {
  -webkit-animation: close-panel-image 0.5s;
          animation: close-panel-image 0.5s;
}

.show-education {
  display: flex;
  flex-direction: column;
}
.show-education__qualifications {
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 20px;
  margin-bottom: 1vh;
}
.show-education__place-of-learning {
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 20px;
  margin-bottom: 2vh;
}
.show-education__specialty {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 18px;
}
.show-education__scores {
  display: flex;
  height: 40vh;
  margin: 0 -3vw;
}
.show-education__scores img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 30vw;
  padding: 3vw;
  cursor: pointer;
}
.show-education .open-space {
  flex: 1 1 auto;
}

.show-more-image img {
  padding: 3vh;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

@-webkit-keyframes open-panel-image {
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}

@keyframes open-panel-image {
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes close-panel-image {
  0% {
    top: 0;
  }
  100% {
    top: 0;
    bottom: 100%;
  }
}
@keyframes close-panel-image {
  0% {
    top: 0;
  }
  100% {
    top: 0;
    bottom: 100%;
  }
}
.social {
  display: flex;
  justify-content: center;
}
.social__item {
  margin: 0 15px;
  height: 30px;
  width: 30px;
}