.title {
   font-size: 20px;
   text-align: center;
   padding: 10px;
   text-transform: uppercase;
   letter-spacing: 5px;
   margin-bottom: 3vh;
}

.works {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   gap: 3vh;

   .work {
      height: 200px;
      
      &__title {
         font-size: 15px;
         text-align: center;
         padding: 5px;
      }

      //img {
      &__image {
         padding: 0 5px;
         
         cursor: pointer;

         &.pointer-off {
            cursor: auto;
         }

         & img {
            object-fit: cover;
            width: 100%;
            height: 150px;
         }
      }

      &__links{
         display: flex;
         height: 25px;
         justify-content: space-around;
         align-items: center;
      }

      &__link {
         text-align: center;
         width: 100px;
      }
   }
}