body {
   background: linear-gradient(50deg, rgba(214,230,242,1) 0%, rgba(185,215,234,1) 20%, rgba(214,230,242,1) 40%, rgba(185,215,234,1) 60%, rgba(214,230,242,1) 80%, rgba(185,215,234,1) 100%);
   color: $palette_1-color_5;

   &.lock {
      overflow: hidden;
   }
}

.persona-info-area {
   margin-bottom: 3vh;   
}

.content-container {
   transition: .3s;
   transition-property: max-width;

   max-width: none;
   //max-width: 1200px;
   padding: 3vh 1vh;
   margin: auto;
   
   //display: flex;
   //@media (max-width:1200px) {
   //   max-width: 970px;
   //}
   //@media (max-width:992px) {
   //   max-width: 750px;
   //   display: block;
   //}
   //@media (max-width:767px) {
   //   max-width: none;
   //   padding: 3vh 1vh;
   //}

   @media (min-width: 751px) {
      max-width: 750px;
      //padding: 3vh 0;
   }
   @media (min-width: 751px) {
      max-width: 750px;
   }
   //@media (min-width: 993px) {
      
   //}

   //and (min-height: 630px)

   @media (min-width: 993px)  {
      max-width: 992px;
      display: flex;
      
      .persona-info-area {
         margin: 0;
         flex: 0 1 30%;
         position: relative;
      }
      
      .works-area {
         flex: 0 1 70%;
         margin-left: 3vh;
      }
   }
   @media (min-width: 1201px) {
      max-width: 1200px;
   }
}


//.persona-info-area {
//   flex: 0 1 30%;
//   position: relative;
//}

//.works-area {
//   flex: 0 1 70%;
//   margin-left: 3vh;
//}

.item {
   background-color: $palette_1-color_1;
   border-radius: 5px;
   box-shadow: 0px 0px 2px 0px $palette_1-color_4;
   overflow: hidden;
}

.button {
   text-align: center;
   color: $palette_1-color_5;
   background-color: $palette_1-color_1;
   border: 1px solid $palette_1-color_5;
   border-radius: 5px;
}