.show-more {
   position: fixed;

   bottom: 0;
   left: 0;
   right: 0;
   overflow: hidden;

   .button-close {
      position: absolute;
      height: 60px;
      width: 60px;
      top: 5vh;
      right: 5vh;
      cursor: pointer;
      
      &::after, &::before {
         content: '';
         transition: .3s;
         transition-property: background-color;
         height: 4px;
         width: 40px;
         position: absolute;
         background-color: $palette_1-color_2;
         top: 28px;
         right: 10px;
      }
      
      &::after {
         transform: rotate(45deg);
      }
      &::before {
         transform: rotate(-45deg);
      }
      &:hover::before, &:hover::after {
         background-color: $palette_1-color_6;
      }
   }

   &__content {
      display: flex;
      align-items: center;
      background-color: $palette_1-color_4;
      
      width: 100%;
      height: 100vh;
      position: absolute;
   }

   &.active-panel {
      animation: open-panel-image .5s;
      top: 0;
      .show-image__content {
         bottom: 0;
      }
   }

   &.no-active-panel {
      animation: close-panel-image .5s;
   }

}


.show-education {
   display: flex;
   flex-direction: column;

   &__qualifications {
      font-size: 18px;
      letter-spacing: 2px;
      line-height: 20px;
      margin-bottom: 1vh;
      text-align: center;
   }
   
   &__place-of-learning {
      font-size: 18px;
      letter-spacing: 2px;
      line-height: 20px;
      margin-bottom: 2vh;
      text-align: center;
   }
   
   &__specialty {
      font-size: 16px;
      letter-spacing: 1px;
      line-height: 18px;
      text-align: center;
   }

   &__scores {
      display: flex;
      margin: 0 -3vw;
      
      img {
         width: 30vw;
         padding: 3vw;
         cursor: pointer;
      }
   }
   .open-space {
      flex: 1 1 auto;
   }
}

.show-more-image {
   img {
      padding: 3vh;
      object-fit:contain;
      width: 100%;
      height: 100%;
   }
}